/* Poppins Bold */
@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Poppins Bold Italic */
@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Poppins ExtraBold */
@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/* Poppins ExtraBold Italic */
@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

/* Poppins Italic */
@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Poppins Regular */
@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Poppins', sans-serif;
}
