:root {
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-gray: hsl(0, 0%, 86%);
    --smokey-gray: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
    --footer-text: hsl(228, 45%, 44%);
}

.attribution {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    font-size: 11px;
    text-align: center;

    & a {
        color: var(--footer-text);
    }
}
